.carousel {
    padding: 81px 0;
    &__inner {
        position: relative;
        width: 750px;
        margin: 0 auto;
    }
    .slick-prev, .slick-next {
        position: absolute;
        top: 50%;
        transform: translateX(-50%);
        left: -66px;
        border: none;
        background-color: #fff;
        img {
            width: 31px;
            height: 50px;
        }
    }
    .slick-next {
        right: -111px;
        left: auto;
    }
    .slick-dots {
        padding: 0;
        margin-top: 20px;
        display: flex;
        justify-content: center;

        list-style-type: none;
        
        li {
			margin: 0 15px;
		}
	
		button {
			display: block;
			width: 15px;
			height: 15px;
			padding: 0;
			
			border: black;
			border-radius: 100%;
			background-color: $main-color;
			
			text-indent: -9999px;
        }
        
        li.slick-active button {
			background-color:blue;
		}
        
    }
}

